.new_con {
  background-image:  url("../../src/assets/img/notes_3.jpg");
  background-position: fixed;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}