.container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.formWrapper {
  background: rgba(255, 0, 0, 0.05);
  border: 2px solid red;
  padding: 40px;
  width: 100%;
  max-width: 420px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}
.loginHeader {
  font-size: 2rem;
  color: red;
  text-align: center;
  margin-bottom: 25px;
}


.signinName {
  font-size: 1.2rem;
  padding: 12px 15px;
  border: 2px solid red;
  border-radius: 10px;
  background: black;
  color: white;
  transition: 0.3s ease;
}
.signinName:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px red;
}



.signinPassword {
  font-size: 1.2rem;
  padding: 12px 15px;
  border: 2px solid red;
  border-radius: 10px;
  background: black;
  color: white;
  transition: 0.3s ease;
}
.signinPassword:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px red;
}



.signinBTN {
  font-size: 1.2rem;
  padding: 12px;
  border-radius: 10px;
  background: red;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.signnBTN:hover {
  background: black;
  color: red;
  box-shadow: 0 0 15px red;
  border: 1px solid red;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }
  .formWrapper {
    padding: 20px;
    max-width: 100%;
    border-radius: 10px;
  }
  .loginHeader {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
  .signnBTN:hover {
  background: red;
  color: black;
  box-shadow: 0 0 15px red;
  border: 1px solid black;
}

}
@media (min-width: 601px) and (max-width: 1024px) {
  .formWrapper {
    padding: 30px;
    max-width: 500px;
  }
  .loginHeader {
    font-size: 1.7rem;
  }


  .signinPassword {
    font-size: 1rem;
    padding: 10px 12px;
  }


  .signinName {
    font-size: 1rem;
    padding: 10px 12px;
  }
  .signinBTN {
    font-size: 1rem;
    padding: 10px;
  }
  .signnBTN:hover {
  background: red;
  color: black;
  box-shadow: 0 0 15px red;
  border: 1px solid black;
}

}