  .container {
  background-image: url("../../src/assets/img/notes_5.jpg");
  background-color: black;
  padding: 2rem 3rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3rem;
  margin-bottom: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 18rem;

}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.footerHeading {
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
  border: 5px solid red;
  background-color: black;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  height: 20%;
  width: 80%;
  border-radius: 10px;
  margin-top: 8rem;

}
.footerHeader {
    display: flex;
    justify-content: center;
    margin-right: 5rem;

}
.navList {
      font-size: 1.5rem;
      width: 50%;
     display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.footerLink {

      list-style: none;
      align-items: flex-end;
      gap: 2rem;
      font-size: 2rem;
      color: white;
      margin-right: 5rem;
      margin-bottom: 5rem;
      transition: all .4s;
      display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;





}
.footerItem a{
  text-decoration: none;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative ;
  overflow: hidden;
  padding: 0.3rem 0.6rem;

}
.footerItem a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: cyan;
  transform: translateX(100%);
  transition: transform 0.35s ease;
  z-index: -1;
}
.footerItem a:hover {
  transform: translateX(0.5rem);
  color: black;
}
.footerItem a:hover::before {
  transform: translateX(0);
}
.footerLink_1 {
  color: cyan;
  transition: all .4s;


}

.footerLink_2 {
color: cyan;
}

  
.footerLink_3 {
  color: cyan;
}

.footerLink_4 {
  color: cyan;
}

.navLink_5 {
  color: red;
}
.footerContact {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}



.footerPhone, .footerMail, .copy {
    font-size: 1.5rem;
    padding: 0.3rem 0;
    width: auto;
    margin: 0;
}
 
@media (min-width: 601px) and (max-width: 1024px) {
  .footerRow {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

.footerHeader {
     display: flex;
    justify-content: flex-start;   
}
.footerHeading {
    width: 60%;
    font-size: 1.4rem;
    padding: 0.8rem 1.3rem;
     

  }
  .navList {
    flex-direction: row;
    justify-content: center;
    width: 80%;
    font-size: 1rem;
    gap: 1.5rem;
    
  }
  .footerLink {
    margin-right: 1rem;
    font-size: 1.8rem;
    gap: 1.2rem;
  }
  .footerContact {
    display: none;
  }
  .contactHeader {
    font-size: 1.8rem;
  }
  .footerPhone, .footerMail, .copy {
    font-size: 1.4rem;
  }
}


@media (min-width: 300px) and (max-width: 599px) {
   .footerRow {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footerHeader {
     display: flex;
    justify-content: center;   
    align-items: center;
}


  .footerHeading {
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 0.28em;
     
  }
  .navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 0.5rem;
    gap: 0.5rem;
    
    
  }
  .footerLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    margin-left: 1.7rem;
  }
  .footerContact {
   display: none;
  }
  .contactHeader {
    font-size: 1.8rem;
  }
  .footerPhone, .footerMail, .copy {
    font-size: 1.4rem;
  }
}