.display_con {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #a51010dc;
    background: linear-gradient(to bottom, #131111 30%, #575555 70%);
    /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}