.save_cont {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #a51010dc;
    background: linear-gradient(to bottom, #131111 30%, #575555 70%);
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   
   
}

.saved_task {
  padding: 2rem 3rem;
 
  background-color: #131111;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  width: 800px;
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  translate: transform all .8s;
}

/* .saved_task:hover {
    transform: scale(1.01);
    box-shadow: 0 0 25px #a51010dc;
} */

.saved_header {
    font: 2.5rem Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateTask {
   font-size: 1.5rem;
   color: #fff;
   padding: 15px 30px;
   margin: 10px;
   border: 2px solid #0ff;
   border-radius: 4rem;
   background: transparent;
   cursor: pointer;
   transition: 0.3s ease-in-out;
   position: relative;
   overflow: hidden;
}


.updateTask::before {
   content: "";
   position: absolute;
   top: -50%;
   left: -50%;
   width: 200%;
   height: 200%;
   background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(0, 255, 255, 0) 70%);
   transition: 0.4s;
   transform: scale(0);
}
.updateTask:hover::before {
   transform: scale(1);
}
.updateTask:hover {
   color: #000;
   background: #0ff;
   box-shadow: 0 0 3px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}
.updateTask:active {
   transform: scale(0.95);
}




 .saved_task {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 40rem;
    min-height: 3rem;
    resize: vertical;
    border-radius: 10px;
    border: 5px solid #0ff;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
}


.saved_list {
     display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 60rem;
    min-height: 50rem;
    resize: vertical;
    border-radius: 10px;
    border: 5px solid #0ff; 
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
}


