.save_cont {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #a51010dc;
    background: linear-gradient(to bottom, #131111 30%, #575555 70%);
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   
   
}

.saved_task {
  padding: 2rem 3rem;
  border: 5px solid #a51010dc;
  background-color: #131111;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  width: 800px;
  /* min-height: 100vw; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  translate: transform all .8s;
}

.saved_task:hover {
    transform: scale(1.01);
    box-shadow: 0 0 25px #a51010dc;
}

.saved_header {
    font: 2.5rem Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task {
  padding: 2rem 3rem;
  border: 5px solid #a51010dc;
  color: white;
  padding: 2rem;
  width: 700px;
  min-height: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  translate: transform all .8s;
  text-decoration: none;
}

