.task_container {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #a51010dc;
    background-image:  url("../../src/assets/img/notes_6.jpg");
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
   
}

.task_area {
    
    padding: 3rem 4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.task_heading {
    font-size: 1.5rem;
    color: goldenrod;
}



.create_task {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 40rem;
    min-height: 3rem;
    resize: vertical;
    border-radius: 10px;
    border: 5px solid goldenrod;
    padding: 1rem 2rem;
    background-image: linear-gradient(#131111, #9D9999);
    color: white;
    box-shadow: 0 0 15px black;
    perspective: 300px;
}

/* .create_task:hover {
   box-shadow: 0 0 25px gold;
} */


.create_list {
     display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 40rem;
    min-height: 20rem;
    resize: vertical;
    border-radius: 10px;
    border: 5px solid goldenrod;
    padding: 1rem 2rem;
    background-image: linear-gradient(#131111, #9D9999);
    color: white;
    box-shadow: 0 0 15px black;
    perspective: 300px;
}

/* .create_list:hover {
   box-shadow: 0 0 25px gold;
} */

 /* {
    display: flex;
    .task_submitjustify-content: flex-start;
    border: 5px solid #0ff;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
} */



.task_submit {
   font-size: 1.5rem;
   color: #fff;
   padding: 15px 30px;
   margin: 10px;
   border: 2px solid #0ff;
   border-radius: 4rem;
   background: transparent;
   cursor: pointer;
   transition: 0.3s ease-in-out;
   position: relative;
   overflow: hidden;
}


.task_submit::before {
   content: "";
   position: absolute;
   top: -50%;
   left: -50%;
   width: 200%;
   height: 200%;
   background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(0, 255, 255, 0) 70%);
   transition: 0.4s;
   transform: scale(0);
}
.task_submit:hover::before {
   transform: scale(1);
}
.task_submit:hover {
   color: #000;
   background: #0ff;
   box-shadow: 0 0 3px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}
.task_submit:active {
   transform: scale(0.95);
}



@media (min-width: 300px) and (max-width: 500px) {
   .task_heading {
    font-size: 1rem;
    color: #a51010dc;
    text-align: center;
    display: inline-block;
}



.create_task {
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 10rem;
    min-height: 3rem;
    resize: vertical;
    border-radius: 10px;
    border: 5px solid #a51010dc;
    padding: 1rem 2rem;
   background-image: linear-gradient(#131111, #9D9999);
    color: white;
}

.create_task:hover {
   box-shadow: 0 0 25px #a51010dc;
}


.create_list {
     display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 15rem;
    min-height: 20rem;
    resize: vertical;
    border-radius: 10px;
    border: 5px solid #a51010dc;
    padding: 1rem 2rem;
    background-image: linear-gradient(#131111, #9D9999);
    color: white;
}

.create_list:hover {
   box-shadow: 0 0 25px #a51010dc;
}

.task_submit {
   font-size: 1.2rem;
   color: #fff;
   padding: 15px 30px;
   margin: 10px;
   border: 2px solid #0ff;
   border-radius: 4rem;
   background: transparent;
   cursor: pointer;
   transition: 0.3s ease-in-out;
   position: relative;
   overflow: hidden;
}


}


